    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center"  style="background-color: #202124;">
        <img class="animation__shake" src="img/medication-tracking-logo.png" alt="medication-tracking-logo" height="60" width="60">
      </div>